/* Google font  */
@import url('https://fonts.googleapis.com/css2?family=Spectral&display=swap');

body {
	margin: 0;
	font-family: 'Spectral', serif;
	background-color: #070707;
	color: #ffffff;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

.generic-text-color {
	color: #ebb85e !important;
}

.generic-bg-color {
	background-color: #070707 !important;
}

.footer-bg-color {
	background-color: #ebb85e29 !important;
}

.text-align-justify {
	text-align: justify;
}
.error-text-color {
	color: #eb130c;
}
