/* Google font  */
@import url('https://fonts.googleapis.com/css2?family=Spectral&display=swap');

body {
	margin: 0;
	font-family: 'Spectral', serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.generic-text-color {
	color: #ebb85e !important;
}

.generic-bg-color {
	background-color: #ebb85e !important;
}

.text-align-justify {
	text-align: justify;
}
